* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -2px;
  margin: 0;
  /* background-color: #e5e5e5; */
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    color: #5c5954;
    font-size: 21px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .services-p {
    margin-top: -20px;
    font-size: 1px;
  }
}

.header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: white;
box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.2);
    border: rgba(255, 255, 255, 0.3), solid, 0.5px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
  ;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.342); */
}
.header .logo {
  width: 45px;
}
.header .linkes {
  position: relative;
}
.header .linkes ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  right: 1px;
  min-width: 200px;
  top: calc(100% + 12px);
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
}
.header .linkes ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .linkes:hover ul {
  display: block;
}
.header .linkes ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.header .linkes ul li a:hover {
  padding-left: 25px;
}
.header .linkes ul li:not(:last-child) a {
  border-bottom: 1px solid #c4c4c4;
}
.landing {
  background-image: url(../Imgs/page.jpg);
  background-size: cover;
  height: calc(100vh - 65px);
  position: relative;
}
.landing .intro-text {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

@media (max-width: 767px) {
  .landing .intro-text {
    left: 55%;
    top: 74%;
  }
}
@media (max-width: 1199px) {
  .landing .intro-text {
    left: 54%;
    top: 77%;
  }
}

.landing .intro-text h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 50px;
  color: #2C3E3D;
}
.landing .intro-text p {
  font-size: 18px;
    line-height: 1.8;
    color: #555;
}
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap:20px;
  background-color: #f7f4f4;
}
.features .feat {
  padding:20px;
  text-align: center;
}
.features .feat i {
  color: #e67e22;
}
.features .feat p {
  color: #546575;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
  
}
@media (max-width: 767px) {
  .services  {
    padding-top: 63px;
    padding-bottom: 20px;
  }
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .services .services-content {
    gap: 30px;
  }
}
.services .services-content .image {
  max-width: 352px;
  /* height: 405px; */
  /* margin-top: 30px */
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: "";
  position: absolute;
  background-color: #d16b21;
  width: 95px;
  height: calc(100% + 100px);
  top: -50px;
  color: #d16b31;
  right: -40px;
  z-index: -1;
}
.services .services-content .image img {
  width: 293px;
}
@media (max-width: 1199px){
  .images-c {
    display: none;
  }
  .services .services-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.services .services-content .srv i {
  color: #e67e22;
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv h3 {
  margin: 0 0 20px;
}
.services .services-content .srv p {
  color: #546575;
  font-weight: 400;
  line-height: 1.2;
}
.portfolio {
  padding-top: 60px;c
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 100px;
}

.portfolio .portfolio-content .card {
  /* overflow: hidden; */
  background-color: #ffffff;
}

.portfolio .portfolio-content .card img {
  width: 100%;
  display: block;
  height: 250px;
  object-fit: cover;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin:0;
}

.portfolio .portfolio-content .card .info p {
  line-height: 1.6;
  margin-bottom: 0;
  font-size: 19px;
}